body {
  margin: 5vh 10vw;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #444;
}

/* 메인 타이틀 스타일 */
.main {
  font-size: 50px;
  font-weight: 600;
  color: white;
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 0;
  min-width: 900px;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(45deg, #e599f7, #b197fc);
  border-radius: 5px 5px 0 0;
}

/* 사이드바 스타일 */
.side-bar {
  background: linear-gradient(to top, #748ffc, #9775fa);
  border-right: 1px solid grey;
  width: 15vw;
  min-width: 200px;
  height: 100%;
  border-radius: 0 0 0 5px;
}

.side-bar > ul {
  margin-top: 20px;
  padding-left: 0;
}

.side-bar > ul > li {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  color: white;
}

/* 메인 콘텐츠 영역 */
.container {
  display: flex;
  height: 70vh;
  min-height: 750px;
  background-color: #f8f9fa;
}

/* 콘텐츠 섹션 스타일 */
.second {
  background-color: #f8f9fa;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 5px 0;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

/* 콘텐츠 텍스트 스타일 */
.content {
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
}

.boldText {
  font-weight: 600;
  color: #5f3dc4;
}

/* 이미지 스타일 */
.image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transition: 0.3s ease-in-out;
}

.image:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* 아이콘 박스 */
.iconBox {
  display: flex;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}