*{
  box-sizing: border-box;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 1200px;
  padding: 0;
  background-color: #ffffff;
}

.outer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 670px;
  height: 960px;
  border: 1px solid #AACDFF;
  box-shadow: 7px 7px 39px 0px #0068FF40;
  padding: 50px 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 470px;
  height: 900px;
  gap: 30px; 
}

.wrapper__head {
  width: 466px;
  height: 94px;
  font-size: 32px;
  font-weight: 700;
  line-height: 47.36px;
  margin: 0;
  padding: 0;
  color: #0086ff;
}

.wrapper__id, .wrapper__password, .wrapper__password__check {
  display: flex;
  flex-direction: column;
  width: 466px;
  height: 80px;
  gap: 5px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.id__input-container {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px; /* input과 버튼 사이의 간격 */
}

.email__input {
  flex: 1; /* input이 가로로 확장되도록 설정 */
  height: 40px;
  border-width: 0px;
  border-bottom: 1px solid gray;
}

.email__input:focus {
  outline: none;
  border-bottom: 1px solid #0068FF;
}

.check {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #0086ff;
  background-color: #ffffff;
  border-radius: 5px;
  color: #0086ff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.check:hover {
  background-color: #AACDFF;
  color: #ffffff;
}

.error {
  color: red; /* 에러 메시지를 빨간색으로 표시 */
}

.wrapper__join{
  margin-top: 80px;
  width: 100%;
  height: 75px;
}

.join__button {
  width: 100%;
  height: 75px;
  border: 1px solid #0086ff;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #0086ff;
}

.join__button:hover {
  background-color: #AACDFF;
  color: #ffffff;
}
.join__button:focus {
  background-color: #0086ff;
  color: #ffffff;
}
