
*{
	margin:0;
	padding:0;
}


html{
	background:url('/assets/img/bg.jpg') #dbe4e6;
	overflow: hidden;
}

body{
	font:15px/1.3 'LiquidCrystal', Arial, sans-serif;
	color: #4f4f4f;
	z-index:1;
}

@font-face {
	font-family: 'LiquidCrystal';
	src: url('/assets/font/LiquidCrystal-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}



/* 시간 및 날짜 폰트 설정 */
#clock .date-time {
	color: inherit; 
	text-align: center;
	transform: translateY(-45px);
}

.date {
	font-size: 34px;
}


#clock{
	width:370px;
	padding:40px;
	margin:200px auto 60px;
	position:relative;
}

#clock:after{
	content:'';
	position:absolute;
	width:400px;
	height:20px;
	border-radius:100%;
	left:50%;
	margin-left:-200px;
	bottom:2px;
	z-index:-1;
}


#clock .display{
	text-align:center;
	padding: 60px 20px 20px;
	border-radius:6px;
	position:relative;
	height: 74px;
	transform: translateY(-40px);
}


.time{
	font-size: 4rem;
}

/*-------------------------
	Light theme
--------------------------*/


#clock.light{
	background-color:#f3f3f3;
	color:#272e38;
}

#clock.light:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#clock.light .digits div span{
	background-color:#272e38;
	border-color:#272e38;	
}

#clock.light .digits div.dots:before,
#clock.light .digits div.dots:after{
	background-color:#272e38;
}

#clock.light .alarm{
	background:url('/assets/img/alarm_light.jpg');
}

#clock.light .display{
	background-color:#dddddd;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
	Dark theme
--------------------------*/


#clock.dark{
	background-color:#272e38;
	color:#cacaca;
}

#clock.dark:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#clock.dark .digits div span{
	background-color:#cacaca;
	border-color:#cacaca;	
}

#clock.dark .alarm{
	background:url('/assets/img/alarm_dark.jpg');
}

#clock.dark .display{
	background-color:#0f1620;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}

#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after{
	background-color:#cacaca;
}






#clock .weekdays {
	transform: translateY(-50px);
}
#clock .weekdays span {
	opacity: 0.2;
	padding: 0 10px;
	transition: opacity 0.5s ease, color 0.5s ease;
}

#clock .weekdays span.active {
	opacity: 1;
	color: #f6a7b3; 
	font-weight: bold;
}



.battery_container {
	justify-content: space-around;
	width: 100%;
	height: 50px;
	transform: translateY(-40px);
}
.battery_wrapper{
	display: flex;
	align-items: center;
	margin: 0;
	max-width: 370px;
	height: 100%;
	transform: translateY(0px);
}
.battery {
	display: flex;
	width: 100px; 
	align-items: center; /* 세로 정렬을 중앙에 맞춤 */
	margin: 0;
	padding: 0;
	font-size: 14px; 
}

.battery p {
	margin-left: 10px;
	font-size: 12px;  
	color: #272e38; 
}

.button-holder{
	text-align:center;
	padding-bottom:10px;
	position: relative; 
	z-index: 10; 
	transform: translateX(170px) translateY(3px);
}

a.button{
	background-color:#f6a7b3;
	border-radius:2px;
	
	box-shadow:0 2px 2px #ccc;
	
	color:#fff;
	text-decoration: none !important;
	padding:5px 10px;
	font-size: 14px;
	height: 20px;
	display:inline-block;
	cursor:pointer;
}

a.button:hover{
	opacity:0.9;
}
	
	#clock .add-alarm::before{
		width:16px;
		height:16px;
		bottom:20px;
		background:url('../img/alarm_light.jpg');
		position:absolute;
		opacity:0.2;
	}
	
	#clock .alarm.active{
		opacity:1;
	}
	.add-alarm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 0 50px;
    position: absolute; 
    top: auto; /* 상단에서 자동 배치 */
    bottom: -35px; /* 부모 요소의 하단에 고정 */
}
	.add-alarm-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 0 10px;
}